<a href="/webapi/values">/webapi/values</a><br />
<a href="/api/math/values/test/2">/api/math/values/test/2</a><br />
<a href="/api/math/values/test">/api/math/values/test</a><br />
<a href="/api/values/GetOne">/api/values/GetOne</a><br />
<a href="/api/values/GetTwo">/api/values/GetTwo</a><br />
<a href="/api/values/Mul/5/10">/api/values/Mul/5/10</a><br />
<a href="/api/values/Div/5/10">/api/values/Div/5/10</a><br />
