<form action="." method="post">
    Ваше имя:
    <input type="text" name="username" placeholder="Ваше имя" />
    <br />
    <input type="submit" value="Сказать серверу привет!" />
    <br />
    @ViewBag.HelloText
    <br />
    @string.Format("Метод: {0}", Request.HttpMethod)
</form>