[devtype="SmartLamp"] {
	background-color: darkred;
}

	[devtype="SmartLamp"][on] {
		background-color: red;
	}

[devtype="Fridge"] {
	background-color: darkcyan;
	border-style: solid;
	border-width: 2px;
	border-color: black;
}

	[devtype="Fridge"][on] {
		background-color: cyan;
	}

		[devtype="Fridge"][on][open] {
			border-style: dotted;
		}

	[devtype="Fridge"][open] {
		border-style: dotted;
	}

[devtype="Clock"] {
	background-color: grey;
}

	[devtype="Clock"][on] {
		background-color: lightgrey;
	}
