* {
	padding: 0;
	margin: 0;
}

body {
	background-color: grey;
	margin: 0 auto;
	width: 800px;
}

.deviceBody {
	width: 180px;
	height: 220px;
	background-color: khaki;
	border-color: black;
	border-radius: 10px;
	border-style: solid;
	border-width: 1px;
	margin: 1px;
	float: left;
}

.btnRepare {
	float: left;
	visibility: hidden;
}

.btnPowerState {
	float: right;
	border-top-right-radius: 10px;
}

.topLine {
	float: left;
	width: 100%;
	background-color: darkolivegreen;
	color: lightgrey;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

	.topLine .lblID {
		padding: 5px 10px;
		float: left;
	}

.devIcon {
	width: 100%;
	text-align: center;
	margin: 0 auto;
}

.propertiesTable {
	width: 100%;
	border-collapse: collapse;
}

	.propertiesTable td {
		border-width: 1px;
		border-color: black;
		border-style: solid;
	}

.frmAddDevice {
	width: 300px;
	background-color: khaki;
	border-color: black;
	border-radius: 10px;
	border-style: solid;
	border-width: 1px;
	margin: 0 auto;
}

.overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.7);
}

	.overlay table {
		width: 100%;
		height: 100%;
		vertical-align: middle;
	}
