* {
	padding: 0;
	margin: 0;
}

body {
	background-color: grey;
	margin: 0 auto;
	width: 800px;
}

.deviceBody {
	width: 180px;
	height: 260px;
	background-color: khaki;
	border-color: black;
	border-radius: 10px;
	border-style: solid;
	border-width: 1px;
	margin: 1px;
	float: left;
}

.btnRepare {
	float: left;
	visibility: hidden;
}

.btnPowerState, .btnClose {
	float: right;
	border-top-right-radius: 10px;
}

.topLine {
	float: left;
	width: 100%;
	background-color: darkolivegreen;
	color: lightgrey;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

	.topLine .lblID {
		padding: 5px 10px;
		float: left;
		max-width: 130px;
	}

.devIcon {
	width: 100%;
	text-align: center;
	margin: 0 auto;
}

.propertiesPanel {
	width: 100%;
}

	.propertiesPanel div {
		border-width: 1px;
		border-color: black;
		border-style: solid;
		border-radius: 5px;
		margin: 1px 3px;
		padding: 2px;
		color: lightgray;
		background-color: darkolivegreen;
	}

	.propertiesPanel span {
		padding: 2px;
	}

.frmAddDevice {
	width: 300px;
	background-color: khaki;
	border-color: black;
	border-radius: 10px;
	border-style: solid;
	border-width: 1px;
	margin: 0 auto;
}

.overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.7);
}

	.overlay table {
		width: 100%;
		height: 100%;
		vertical-align: middle;
	}
