@using HomeWorkSmartHouse.SmartHouseDir.Interfaces;
@model ISmartDevice
@{ 
	IBrightable device = Model as IBrightable;
}

@if (device != null)
{
	<div interface="IBrightable">
		<a href="/Home/AdjustBrightness/@Model.Name/down" title="Min = @device.BrightnessMin" class="btnArrow btnArrowLeft"></a>
		<span class="value">@device.Brightness</span>
		<a href="/Home/AdjustBrightness/@Model.Name/up" title="Max = @device.BrightnessMax" class="btnArrow btnArrowRight"></a>
		<span>Яркость</span>
	</div>
}
