@using HomeWorkSmartHouse.SmartHouseDir.Interfaces;
@model ISmartDevice
@{
	IOpenCloseable device = Model as IOpenCloseable;
}

@if (device != null)
{
	<div interface="IOpenCloseable">
		<a href="/Home/ToggleOpenClose/@Model.Name" title="@(device.IsOpened ? "Закрыть" : "Открыть")" class="btnSwitch">
			@(!device.IsOpened ? "Закрыто" : "Открыто")
		</a>
	</div>
}
