@using Homework2.Models

@model DeviceCreationContext

@{
	
}

<div class="overlay">
	<table>
		<tbody>
			<tr>
				<td>
					<form name="frmCreateDevice" action="/Home/CreateDevice">
						<div id="frmAddDevice" class="frmAddDevice" devtype="@Model.devType">
							<div class="topLine">
								<input type="submit" name="btnAddDevice" value="Добавить @Model.devTypeTranslation" id="btnAddDevice" class="btnSwitch">
								<input type="submit" name="btnClose" formaction="/" value="Закрыть" id="btnClose" class="btnSwitch btnClose">
							</div>
							<div class="devIconContainer">
								<div id="devIcon" class="devIcon">
								</div>
							</div>
							<div id="pnlPropertiesTable" class="propertiesPanel">
								<div>
									<span>Имя устройства</span><input name="tbName" type="text" id="tbName" placeholder="Ввести имя">
								</div>
								@if (Model.devHasThermostat)
								{
									<div>
										<span>Температура min</span><input name="tbTemperatureMin" type="number" id="tbTemperatureMin" placeholder="-273" min="-273">
									</div>
									<div>
										<span>Температура max</span><input name="tbTemperatureMax" type="number" id="tbTemperatureMax" placeholder="10" min="-273">
									</div>
									<div>
										<span>Шаг температуры</span><input name="tbTemperatureStep" type="number" id="tbTemperatureStep" placeholder="10" min="0">
									</div>
								}
								@if (Model.devIsBrightable)
								{
									<div>
										<span>Яркость min</span><input name="tbBrightnessMin" type="number" id="tbBrightnessMin" placeholder="0" min="0" max="200">
									</div>
									<div>
										<span>Яркость max</span><input name="tbBrightnessMax" type="number" id="tbBrightnessMax" placeholder="100" min="0" max="200">
									</div>
									<div>
										<span>Шаг яркости</span><input name="tbBrightnessStep" type="number" id="tbBrightnessStep" placeholder="10" min="0" max="200">
									</div>
								}
							</div>
						</div>
					</form>
				</td>
			</tr>
		</tbody>
	</table>
</div>
