@using Homework2.Models
@model IList<DevTypesDescription>
<select name="ddlDeviceType" id="ddlDeviceType">
	@foreach (var type in Model)
	{
		<option value="@type.className">@type.nameTranslation</option>
	}
</select>
