@using HomeWorkSmartHouse.SmartHouseDir.Interfaces;
@model ISmartDevice
@{
	IHaveThermostat device = Model as IHaveThermostat;
}

@if (device != null)
{
	<div>
		<a href="/Home/AdjustTemperature/@Model.Name/down" class="btnArrow btnArrowLeft" title="Min = @device.TempMin"></a>
		<span class="value">@device.Temperature</span>
		<a href="/Home/AdjustTemperature/@Model.Name/up" class="btnArrow btnArrowRight" title="Max = @device.TempMax"></a>
		<span>Температура</span>
	</div>
}
