
@{
	ViewBag.Title = "Task1_2";
}

<h2>@ViewBag.Title</h2>
<p>@ViewBag.Result</p>
<form action="/home/Task1">
	<input type="number" placeholder="введите X" name="x" />
	<input type="submit" />
</form>

