
@{
    ViewBag.Title = "Task1";
}

<h2>@ViewBag.Title</h2>
Параметр "param" равен нулю или не задан<br />
<a href="?param=10">param = 10</a><br />
<a href="?param=-10">param = -10</a><br />
@ViewBag.message

